// banner slider custom start

.slider__hero {
  .slick-prev {
    border: 1px solid #e3e6e6 !important;
    width: 40px !important;
    height: 40px !important;
    left: -50px !important;

    border-radius: 50%;

    &:hover {
      border: 1px solid #3bcff5 !important;
    }

    &::before {
      position: absolute;
      content: url('@/assets/img/chavron-left.png') !important;
      top: 6px;
      right: 16px;
    }
  }

  .slick-next {
    border: 1px solid #e3e6e6 !important;
    width: 40px !important;
    height: 40px !important;
    right: -47px !important;
    border-radius: 50%;

    &:hover {
      border: 1px solid #3bcff5 !important;
    }

    &::before {
      position: absolute;
      content: url('@/assets/img/chavron-right.png') !important;
      top: 6px;
      right: 16px;
    }
  }

  @media screen and(max-width: 550px) {
    .slick-next {
      top: 65% !important;
      margin-top: 10px !important;
    }
  }

  @media screen and(max-width: 550px) {
    .slick-prev {
      top: 65% !important;
      margin-top: 10px !important;
    }
  }
}

// banner slider custom end //

// Yandex Fonts start //

@font-face {
  font-family: 'Yandex Sans Display';
  font-weight: 700;
  font-style: normal;
  src: local('Yandex Sans Display'),
    url('~assets/font/YandexSansDisplay-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Yandex Sans Display';
  font-weight: 300;
  font-style: normal;
  src: local('Yandex Sans Display'),
    url('~assets/font/YandexSansDisplay-Light.woff') format('woff');
}

@font-face {
  font-family: 'Yandex Sans Display';
  font-weight: 400;
  font-style: normal;
  src: local('Yandex Sans Display'),
    url('~assets/font/YandexSansDisplay-Regular.woff') format('woff');
}
// Yandex Fonts end //

// main header styling

.main_header {
  font-family: 'Yandex Sans Display';
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #4a4d4d;
  @media screen and(max-width: 30em) {
    font-size: 12px;
    line-height: 16px;
  }
  @media screen and(max-width: 62em) {
    font-size: 16px;
    line-height: 18px;
  }
  @media screen and(max-width: 48em) {
    font-size: 20px;
    line-height: 22px;
  }
}
