$InputColor: #707373;
$InputBorder: #ff3838;
$BorderColor: #e50914;
$BorderColor2: #e3e6e6;
$ButtonColor: #e50914;
$GeneralWarningColor: #e3e6e6;

/*  ----------------------------*/

$WhiteColor: #ffffff;
$TextColor1: #707373;
$TextColor2: #4a4d4d;
$TextColor3: #242625;
$TextColor4: #afb3b3;
$TextColor5: #afb2b2;
$WarningColor1: #e50914;
$WarningColor2: #ff3838;
$RouteColor: #0f6cb0;
